body{
  background-image: url("../images/doc4.jpg");
  background-size: 100%;
  padding: 0;
  margin: 0;
}
#header2{
  position: relative;
  margin-bottom: 10px;
}
#header{
  margin-bottom: 10px;
  position: fixed;
  color:white ;
  font-style: bold;
  background: rgb(0, 0, 0, 0.7);
  font-size: 20px;
  font-family: Times-new-roman;
  top: 0px;
  margin-bottom: 5px;
  height: 50px;
  width: 100%;
}
#ic{
  position: absolute;
  left: 10px;
  top: 12px;
  color: #e6faff;
  text-decoration: none;
  font-family: Times-new-roman;
  font-size: 24px;
}
#on{
  position: absolute;
  left: 52px;
  top: 12px;
  color: #6666ff;
  font-size: 24px;
  text-decoration: none;
  font-family: Times-new-roman;
}
#joinlink{
  position: absolute;
  left: 1130px;
  top: 12px;
  text-decoration: none;
  font-family: Times-new-roman;
  color:  #e6faff;
}
#conlink{
  position: absolute;
  left: 1230px;
  top: 12px;
  text-decoration: none;
  font-family: Times-new-roman;
  color:  #e6faff;
}

#incenter{
  width: 50%;
  position: relative;
  margin-left: 330px;
  margin-top: 85px;
  height: 1290px;.
  font-family: Times-new-roman;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.40);
}

#head{
  background: rgba(0, 0, 0, 0.40);
  color: white;
  font-size: 36px;
  height: 50px;
  padding: 10px;
  width: 97%;
}
.text{
  color: #e6faff;
  position: absolute;
  left: 32px;
  margin-bottom: 5px;
}
.input{
  position: absolute;
  left: 23px;
  width: 220px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
  font-family: Times-new-roman;
  font-size: 20px;
  border: solid 1px rgba(255, 255, 255, 0.37);
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
  background-position: -800px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
}
.near{
  position: absolute;
  top: 139px;
  left: 400px;
  width: 220px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
  font-family: Times-new-roman;
  font-size: 20px;
  border: solid 1px rgba(255, 255, 255, 0.37);
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
  background-position: -800px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
}
#email{
  position: absolute;
  left: 23px;
  top: 235px;
}
#phone{
  position: absolute;
  left: 23px;
  top: 320px;
}
#birth{
  position: absolute;
  left: 23px;
  top: 410px;
}
#address{
  position: absolute;
  left: 23px;
  top: 500px;
  width: 500px;
}
.input:focus {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

.input:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: .9em;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
  visibility: visible !important;
}
.near:focus {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

.near:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: .9em;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
  visibility: visible !important;
}
::-webkit-input-placeholder {
  color: #fff;
  font-weight: 100;
}
#gender{
  position: absolute;
  left: 35px;
  top: 570px;
}
.gen{
  color: white;
  position: absolute;
  left: 70px;
  margin-bottom: 5px;
}
.radio{
  margin-top: 5px;
  position: absolute;
  left: 40px;
  margin-bottom: 5px;
}
#edu{
  position: absolute;
  left: 23px;
  top: 690px;
  height: 130px;
  width: 600px;
  margin: 10px;
  border-radius: 5px;
  font-family: Times-new-roman;
  font-size: 20px;
}
#cli{
  position: absolute;
  top: 860px;
}
#clic{
  position: absolute;
  left: 23px;
  top: 880px;
  height: 130px;
  width: 600px;
  margin: 10px;
  border-radius: 5px;
  font-family: Times-new-roman;
  font-size: 20px;
}
#credit{
  position: absolute;
  top: 1050px;
}
#upload{
  position: absolute;
  background-color: #204060;
  color: white;
  left: 23px;
  top: 1070px;
  margin: 10px;
  border-radius: 50px;
  box-shadow: 5px 5px 10px black;
  width: 350px;
  outline: none;
  font-family: Times-new-roman;
  font-size: 20px;
}
#credit1{
  position: absolute;
  top: 1130px;
}
#upload1{
  position: absolute;
  background-color: #204060;
  color: white;
  left: 23px;
  top: 1150px;
  margin: 10px;
  border-radius: 50px;
  box-shadow: 5px 5px 10px black;
  width: 350px;
  outline: none;
  font-family: Times-new-roman;
  font-size: 20px;
}
#check{
  position: absolute;
  top: 1162px;
  left: 20px;
}
#agree{
  color: #e6faff;
  position: absolute;
  top: 1160px;
  left: 50px;
}
#submit{
  position: absolute;
  top: 1245px;
  left: 270px;
  border: 2px #204060 solid;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  background-color: #204060;
  color: white;
  font-size: 20px;
  font-family: Times-new-roman;
}
#footer{
  position: relative;
  color:white ;
  font-style: bold;
  background: rgb(0, 0, 0, 0.7);
  font-size: 20px;
  font-family: Times-new-roman;
  bottom: 0px;
  margin-top: 25px;
}
#con{
  position: absolute;
  right: 1000px;
  top: 30px;
}
.link1{
  font-size: 20px;
  text-decoration: none;
  font-family: Times-new-roman;
  color:  #e6faff;
}
#termpage{
  position: absolute;
  right: 15px;
  top: 1px;
}
#topbutton{
  position: fixed;
  right: 15px;
  top: 550px;
}